{% assign also_available_in_title = "You May Also Like" %}
{% assign image_size = '640x907' %}

{% for tag in product.tags %}
{% if tag contains 'related-collection' %}
{% assign related_collection_tag_handle = tag | handle %}
{% endif %}
{% endfor %}

{% for c in product.collections %}
{% if c.handle != 'frontpage' and c.handle != 'all' and c.handle == related_collection_tag_handle and c.all_products_count > 1 %}
{% assign related_collection = c.handle %}
{% endif %}
{% endfor %}

  {% if related_collection_tag_handle %}
  <section class="related-collection">
  <h2>{{ also_available_in_title }}</h2>

  {% assign current_product = product %}
  {% assign current_product_found = false %}

  <ul>
  {% for product in collections.[related_collection_tag_handle].products | limit: 5 %}
  {% if product.handle == current_product.handle %}
  {% assign current_product_found = true %}
  {% else %}
  {% unless current_product_found == false and forloop.last %}
  <li itemscope itemtype="http://schema.org/Product">
    <div class="image">
      <a href="{{ product.url | within: related_collection }}" title="{{ product.title | escape }}">
        {{ product.featured_image | product_img_url: image_size | img_tag }}
      </a>
    </div>
    <h3 itemprop="name"><a href="{{ product.url }}" title="{{ product.title | escape }}">{{ product.title }}</a></h3>
    <p class="product-price"><span class="money" itemprop="price">{{ product.price | money }}</span></p>
  </li>
  {% endunless %}
  {% endif %}
  {% endfor %}
  </ul>
  </section>
  {% endif %}
