<section class="features">
{% for block in section.blocks limit: section.blocks.size %}
  <article class="item">

    {% if block.settings.image != blank %}

    <div class="item-image">
      {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
        <img src="{{ block.settings.image | img_url: '1024x' }}" alt="{{ block.settings.image.alt | escape }}">
        {%- if block.settings.heading != blank -%}
          <span class="overlay">{{ block.settings.heading }}</span>
        {%- endif -%}
      {% if block.settings.link != blank %}</a>{% endif %}
    </div>
    {% else %}
    <div class="item-block-color" style="background-color:{{ block.settings.background_color }};">
      {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
        {%- if block.settings.heading != blank -%}
          <span class="overlay">{{ block.settings.heading }}</span>
        {%- endif -%}
      {% if block.settings.link != blank %}</a>{% endif %}
    </div>
    {% endif %}

    <div class="item-content">
      <div class="item-content-inner">
        {%- if block.settings.heading != blank -%}
          <h2>{{ block.settings.heading }}</h2>
        {%- endif -%}

        {%- if block.settings.content != blank -%}
        <div class="rich-text">
          <p>{{ block.settings.content }}</p>
        </div>
        {%- endif -%}

        {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="call-to-action">{{ block.settings.call_to_action_text }}</a>
        {% endif %}
      </div>
    </div>

  </article>
{% endfor %}
</section>

{% schema %}
{
  "name": "Features",
  "max_blocks" : 7,
  "class" : "section-features",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "call_to_action_text",
          "label": "Call to action text",
          "default": "Read more"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "#676767"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
