<section class="featured-products {%- if section.settings.show_collection_header -%}with-header{%- endif -%}">

  <div class="section-block">
    {% assign collection = collections[section.settings.collection] %}

    {% if collection != blank %}

    {%- if section.settings.show_collection_header -%}
    <header class="collection-header">
      <div class="collection-image">
        {%- if collection.image -%}
          <img src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.title }}">
        {%- endif -%}
      </div>

      <h1><a href="{{ collection.handle }}">{{ collection.title }}</a></h1>

      {%- if collection.description -%}
      <div class="rich-text">
        {{ collection.description }}
      </div>
      {%- endif -%}
    </header>
    {%- endif -%}

    <div class="collection-items">
    {% for product in collection.products limit: product_limit %}
      {%- include 'collection-items' -%}
    {% endfor %}
    </div>

    {% endif %}

</section>


{% schema %}
{
  "name": "Featured collection",
  "class": "section-featured-products",
  "settings": [
  {
    "type": "collection",
    "id": "collection",
    "label": "Collection"
  },
  {
    "type": "checkbox",
    "id": "show_collection_header",
    "label": "Show collection header?",
    "default": false
  }
  ],
  "presets": [
  {
    "name": "Featured collection",
    "category": "Collection"
  }
  ]
}
{% endschema %}
