{%- unless template contains 'customers' or template contains 'cart' -%}
  {%- if section.settings.newsletter_sign_enable -%}
    <div class="newsletter group">
    {%- include 'mailchimp-signup' -%}
  </div>
  {%- endif -%}
{%- endunless -%}

<footer class="footer group">

  <div class="footer-content">

    <div class="footer-navigation">
      <h5>Shop</h5>
      {%- assign footer_shop_linklist = section.settings.footer_shop_linklist -%}
      {% if linklists[footer_shop_linklist].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_shop_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="footer-navigation">
      <h5>Information</h5>
      {%- assign footer_info_linklist = section.settings.footer_info_linklist -%}
      {% if linklists[footer_info_linklist].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_info_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="footer-contacts">
      <h5>Contact</h5>
      {% if section.settings.footer_contact_link %}<p><a href="{{ section.settings.footer_contact_link }}">{{ section.settings.footer_contact_text }}</a></p>{% endif %}
      <ul>
        <li>{{ shop.address.street }}<br> {{ shop.address.city }} {{shop.address.zip}}<br> {{ shop.address.country }}</li> <li><a href="mailto:{{ shop.email }}">{{ shop.email }}</a></li>
        <li class="tel"><a href="tel:{{ shop.phone | handleize | prepend: "+" }}">
          {{ shop.phone | prepend: "+" | slice: 0, 3 }}
          {{ shop.phone | slice: 2, 4 }}
          {{ shop.phone | slice: 6, 3 }}
          {{ shop.phone | slice: 9, 4 }}
        </a></li>
        </a>
      </ul>
    </div>

    {% if section.settings.footer_social_enable %}
    <div class="footer-social">
      <h5>Follow</h5>
      <ul>
        {% if section.settings.social_facebook_link != blank %}
        <li><a href="{{ section.settings.social_facebook_link }}">Facebook</a></li>
        {% endif %}
        {% if section.settings.social_twitter_link != blank%}
        <li><a href="{{ section.settings.social_twitter_link }}">Twitter</a></li>
        {% endif %}
        {% if section.settings.social_instagram_link != blank %}
        <li><a href="{{ section.settings.social_instagram_link }}">Instagram</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

  </div>

  {% if section.settings.footer_strapline %}
  <div class="made-in"><p>{{ section.settings.footer_strapline }}</p></div>
  {% endif %}
</footer>

{% schema %}
{
  "name": "Footer",
  "class" : "section-site-footer",
  "settings": [
  {
    "type": "checkbox",
    "id": "newsletter_sign_enable",
    "label": "Enable newsletter",
    "default": true
  },
  {
    "type": "text",
    "id": "newsletter_sign_up_heading",
    "label": "Newsletter heading",
    "default": "Stay in touch"
  },
  {
    "type": "textarea",
    "id": "newsletter_sign_up_text",
    "label": "Newsletter text",
    "default": "Get 10% off your first order."
  },
  {
    "type": "link_list",
    "id": "footer_shop_linklist",
    "label": "Footer shop navigation",
    "default": "footer"
  },
  {
    "type": "link_list",
    "id": "footer_info_linklist",
    "label": "Footer information navigation",
    "default": "footer"
  },
  {
    "id": "footer_contact_link",
    "type": "url",
    "label": "Contact us link",
    "default": "/collections/all"
  },
  {
    "id": "footer_contact_text",
    "type": "text",
    "label": "Contact us text",
    "default": "Get in touch"
  },
  {
    "type": "text",
    "id": "footer_strapline",
    "label": "Footer strapline",
    "default": "A Cultural Serving"
  },
  {
    "type": "checkbox",
    "id": "footer_social_enable",
    "label": "Show social media links",
    "default": true
  },
  {
    "type": "text",
    "id": "social_twitter_link",
    "label": "Twitter link",
    "default": "https:\/\/twitter.com\/mimiberryshop"
  },
  {
    "type": "text",
    "id": "social_facebook_link",
    "label": "Facebook link",
    "default": "https:\/\/www.facebook.com\/mimiberryshop"
  },
  {
    "type": "text",
    "id": "social_instagram_link",
    "label": "Instagram link",
    "default": "https:\/\/instagram.com\/mimiberrylondon"
  }
  ]
}
{% endschema %}
