{% comment %}
  Header with shop navigation
{% endcomment %}

<header role="banner" class="header group" id="top">
  <div class="logo">
    <a href="{{ shop.secure_url }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 34"><path d="M23.3 27.5h-17V.7H0v32.6h23.3v-5.8zm17.5-8V.7h-6.2v20.1c0 8.8 5.2 13.2 12.9 13.2s12.9-4.4 12.9-13.2V.7h-6.2v18.8c0 6.6-2.6 8.7-6.7 8.7s-6.7-2.1-6.7-8.7zM102.2.7h-6v22.6L82.2.7h-8.3v32.6h6V8.6l15.3 24.7h7V.7zM114.1 17c0 10 7 17 16.5 17 4.4 0 8.5-1.3 11.7-5.2l-4.1-3.8c-2.3 2.5-5 3.2-7.6 3.2-5.7 0-9.9-4.6-9.9-11.2 0-7 4.5-11.2 9.9-11.2 3.8 0 6 1.5 7.6 3.2l4.1-3.8C139.8 2 135.8 0 130.6 0c-9.8 0-16.5 7.4-16.5 17zm59.6 16.3h6.2V.7h-6.2v12.9h-14V.7h-6.2v32.6h6.2V19.6h14v13.7zm19.8 0h22.8v-5.8h-16.6v-7.7h11.2V14h-11.2V6.5h15.4V.7h-21.7v32.6h.1zM226 17c0 10.1 7.6 17 16.9 17 9.3 0 16.9-6.9 16.9-17s-7.6-17-16.9-17C233.6 0 226 6.9 226 17zm27.2 0c0 6.3-4.6 11.2-10.3 11.2-5.8 0-10.3-4.9-10.3-11.2 0-6.3 4.6-11.2 10.3-11.2 5.8 0 10.3 4.9 10.3 11.2zM300 .7h-6v22.6L280 .7h-8.3v32.6h6V8.6L293 33.3h7V.7z" fill="#1d1d1b"/></svg>
      <span class="hide">{{ shop.name }}</span>
      {%- if section.settings.site_strapline -%}
        <span class="strapline">{{ section.settings.site_strapline }}</span>
      {%- endif -%}
      </a>
    </div>

    <nav class="shop-nav">
      <ul>
        <li><a href="#main-nav" id="site-nav-trigger" class="site-nav-trigger">
          <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="24px" width="24px"><g fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path d="M3 5h18M3 12h18M3 19h18M3 5h18M3 12h18M3 19h18"/></g></svg>
           <span class="hide">{{ 'general.navigation.shop' | t }}</span> </a></li>
        <li class="search-trigger">
          <a href="#search-form" class="search-form-trigger">
            <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><circle cx="10" cy="10" r="8"/><path d="M22 22l-6-6"/></g></svg>
            <span class="hide">Search</span>
          </a>
        </li>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="hello">Hello <a href="{{ routes.account_url }}">{{ customer.first_name }}</a> </li>
            <li><a href="{{ routes.account_logout_url }}">
              <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path d="M16.019 8.948A4.95 4.95 0 0 0 17 6c0-2.76-2.24-5-5-5-1.107 0-2.12.372-2.948.98M1 1l22 22M8.379 15.45C5.22 16.267 3 18.113 3 20.25V23"/></g></svg>
              <span class="hide">Log Out</span>
            </a></li>
          {% else %}
            <li><a href="{{ routes.account_login_url }}">
              <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><circle cx="12" cy="6" r="5"/><path d="M21 23v-2.75c0-2.888-4.05-5.25-9-5.25s-9 2.362-9 5.25V23"/></g></svg>
              <span class="hide">Log In</span>
            </a></li>
          {% endif %}
        {% endif %}
        <li><a href="{{ routes.cart_url }}">
          {% if cart.item_count > 0 %}
            <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 23h6m-3-5v5M5.3 7c-.6 3.1-.5 6.6 2.4 8.7 1.2.9 2.7 1.3 4.3 1.3s3.1-.4 4.3-1.3c2.9-2.1 3-5.6 2.4-8.7H5.3z"/><path d="M5.3 7h13.4M9 23h6m-3-5v5M7.5 1s-5.7 10.4.2 14.7c1.2.9 2.7 1.3 4.3 1.3s3.1-.4 4.3-1.3c5.9-4.3.2-14.7.2-14.7h-9z" fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/></svg>
            <span class="basket-total" id="basket-total">{{ cart.total_price | money }}</span>
          {% else %}
            <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 23h6m-3-5v5M5.3 7c-.6 3.1-.5 6.6 2.4 8.7 1.2.9 2.7 1.3 4.3 1.3s3.1-.4 4.3-1.3c2.9-2.1 3-5.6 2.4-8.7H5.3z"/><path d="M5.3 7h13.4M9 23h6m-3-5v5M7.5 1s-5.7 10.4.2 14.7c1.2.9 2.7 1.3 4.3 1.3s3.1-.4 4.3-1.3c5.9-4.3.2-14.7.2-14.7h-9z" fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/></svg>
          {% endif %}
        </a>
      </li>
    </ul>
  </nav>

  <nav class="main-nav" id="main-nav" role="navigation">
    <div class="site-nav-inner">
      <ul class="site-nav">
        {%- for link in linklists.main-menu.links -%}
        {%- assign parent_list_handle = link.title | handleize -%}
        {%- if linklists[parent_list_handle].links != blank -%}
        <li class="nav-item has-sub-nav{% if link.active %} nav-is-active{% endif %}" aria-haspopup="true">
          <a href="{{ link.url }}" class="sub-nav--trigger">{{ link.title }}
            <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path d="M5 9l7 8 7-8" fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/></svg>
          </a>
          <ul class="sub-nav">
            {%- for childlink in linklists[parent_list_handle].links -%}
            {%- assign child_list_handle = childlink.title | handleize -%}
            <li{% if childlink.active %} class="nav-is-active"{% endif %}>
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      {%- else -%}
      <li class="nav-item{% if link.active %} nav-is-active{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    <a class="cancel site-nav-trigger" href="#">
      <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" ><path d="M6 6l12 12M6 18L18 6M6 6l12 12M6 18L18 6" fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/></svg>
      <span class="hide">Close</span>
    </a>
  </div>
</nav>

<div id="search-form" class="search-form">
  <form action="/search" method="get" role="search">
    <input type="hidden" name="type" value="product">
    <div class="form-group">
      <label for="q">{{ 'general.search.placeholder' | t }}</label>
      <div class="form-search-bar">
        <input name="q" type="text" placeholder="Search" class="search-input" />
        <button type="submit" class="button">{{ 'general.search.submit' | t }}</button>
      </div>
    </div>
  </form>
  <a class="cancel search-form-trigger" href="#">
    <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" ><path d="M6 6l12 12M6 18L18 6M6 6l12 12M6 18L18 6" fill="none" stroke="#1d1d1b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/></svg>
    <span class="hide">Close</span>
  </a>
</div>

</header>

{% schema %}
{
  "name": "Header",
  "class" : "section-site-header",
  "settings": [
  {
    "type": "text",
    "id": "site_strapline",
    "label": "Site strapline",
    "default": "A Cultural Serving"
  },
  {
    "type": "link_list",
    "id": "main_linklist",
    "label": "Menu",
    "default": "main-menu"
  }]
}
{% endschema %}
