{%- if section.blocks.size >= 1 -%}
  <div class="tabs">
    <ul>
      <li><a href="#tab-description" aria-controls="tab-description" aria-expanded="true">Description</a></li>
      {% for block in section.blocks limit: section.blocks.size %}
        {% if block.settings.tab_heading!= blank %}
          <li><a href="#tab-{{ block.settings.tab_heading | handleize }}" aria-controls="tab-{{ block.settings.tab_heading | handleize }}" aria-expanded="false">{{ block.settings.tab_heading }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
      <div class="tab rich-text rte" id="tab-description" aria-hidden="false" itemprop="description">
        {{ product.description }}
      </div>
    {% for block in section.blocks limit: section.blocks.size %}
      {% if block.settings.tab_content!= blank %}
      <div class="tab rich-text rte" id="tab-{{ block.settings.tab_heading | handleize }}" aria-hidden="true" itemprop="description">
        {{ block.settings.tab_content }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
{%- else -%}
  <div class="rich-text rte" itemprop="description">
    {{ product.description }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product Tabs",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_heading",
          "label": "Tab Heading"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
