{% paginate collection.products by 48 %}

<section class="product-list">

  <header class="collection-header{% if collection.image %} with-image{% endif %}">
    {%- if collection.image -%}
    <div class="collection-image">
      <img src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.title }}">
    </div>
    {%- endif -%}

    <h1>{{ collection.title }}</h1>

    {%- unless collection.description == blank -%}
    <div class="rich-text">
      {{ collection.description }}
    </div>
    {%- endunless -%}

  </header>

  <div class="collection-items">
    {% for product in collection.products %}
        {% render 'collection-items' %}
      {% else %}
        <p class="no-matches">{{ 'collections.general.no_matches' | t }}</p>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% render 'pagination' %}
  {% endif %}

</section>
{% endpaginate %}
